.bg-bluedark{
	background: #171B43;
	color: white;
	text-align: center;
}
.bg-gray{
	background: #D3D3D3;
}

.container-btn{
	height: 45%;
}
/*
.container-1{
	min-height: 100%;
}
.container-card{
	background: #FFFFFF;
	min-height: 8rem;
}
.main-container{
	height: 8rem;
}
*/
.container-inside{
	height: 100%;
}

.btn-lightgreen{
	background: #5FE88D;
	color: #FFFFFF;
	margin: auto;
	width: 60%;
}

.btn-lightblue{
	background: #5F85E8;
	color: #FFFFFF;
	margin: auto;
	width: 60%;
}

.card-image{
	max-height: initial;
}
.btn-danger{
	width: 20%
}